@using homework_assignment_3.Models
@model List<FileModel>

<head>
    <style type="text/css">
        .downloadbtn {
            background-color: limegreen;
            margin: 0.5px;
        }

        .deletebtn {
            background-color: red;
            margin: 0.5px;
        }

        a:link {
            color: white;
        }

        .container {
            float: left;
            
        }
        .background{
            overflow:scroll;
        }
       
    </style>
</head>
<h2>Images of any file type</h2>
<p> ..... "Media/Images/" folder</p>

<script>
    $(document).ready(function ($) {
        $(".gallery a").fancybox();
    });
</script>

<div class="background">
 <br/>


        @foreach (FileModel file in Model)
        {
            <div class="col-sm-3">
                <div class="card" >
                    <a class="gallery a" rel="group" href="@Url.Content("~/Media/Images/")@file.FileName" />
                    <img src="@Url.Content("~/Media/Images/")@file.FileName" alt="Image file" height="150" width="200" />
                    <div class="card-body-black">
                    

                    
                        <table>
                            <tr>
                                <td>
                                    <button class="downloadbtn">
                                        @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })
                                    </button>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <button class="deletebtn">
                                        @Html.ActionLink("DELETE", "DeleteFile", new { fileName = file.FileName },
                                       new { onclick = "return confirm('Are you sure you want to delete this?');" })
                                    </button>
                                </td>
                            </tr>
                        </table>
                    
                  </div>
                </div>
            </div>
        }




    </div>

